@model IEnumerable<SafetyAndSecurityForNSI.Models.LocalCitizenModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Country Citizen List/s</h4>

<p>
    <a href="/LocalCitizen/Create" class="btn green"><i class="fa fa-plus"></i>Add New Citizen</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CitizenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelativeContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassportNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrivingLicenceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DLicenceCopy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zilla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Village)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonImg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CitizenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresentAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelativeContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassportNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrivingLicenceNo)
        </td>
        <td>
            <img class="user-photo img-css" src="~/Image/LocalCitizen/DrivingLicence/@item.DLicenceCopy" width="50" height="50" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zilla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Village)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostOffice)
        </td>
        <td>
            <img class="user-photo img-css" src="~/Image/LocalCitizen/PersonImg/@item.PersonImg" />
        </td>
        <td>
           <a>@Html.ActionLink("Edit", "Edit", new { id = item.CitizenId })</a>
           <a>@Html.ActionLink("Details", "Details", new { id = item.CitizenId })</a>
           <a>@Html.ActionLink("Delete", "Delete", new { id = item.CitizenId })</a>
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back", "UserView", "DashBoard")
</div>