@model IEnumerable<SafetyAndSecurityForNSI.Models.HomeLoanModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Home Loan List/s</h4>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CitizenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParmanentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresenrAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelativeContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassportNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSINumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanAmmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearlyIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyMembers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="user-photo img-css" src="~/Image/Home/@item.PersonImage" width="50"height="50"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CitizenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParmanentAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresenrAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelativeContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassportNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSINumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanAmmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearlyIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyMembers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HomeLoanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HomeLoanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HomeLoanId })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back", "UserView", "DashBoard")
</div>