@model SafetyAndSecurityForNSI.Models.ForeignCitizenModel

@{
    ViewBag.Title = "ForeignCitizenDetils";
    Layout = "~/Views/Shared/_UserDashBoard.cshtml";
}

<h2>Foreign Detils</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CitizenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CitizenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportImagCopy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportImagCopy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresenrAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresenrAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelativeContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelativeContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceClearImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceClearImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrivingLicenceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrivingLicenceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DLicenceCopy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DLicenceCopy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceEntryNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceEntryNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LivingTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivingTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>

<p>
    <a class="btn btn-default" href="/UserDataViewList/ForeignCitizenList?passportNo=@Model.PassportNo">Back To List</a>

</p>

