@model IEnumerable<SafetyAndSecurityForNSI.Models.GovernmentJob>
@{
    ViewBag.Title = "JobList";
    Layout = "~/Views/Shared/_UserDashBoard.cshtml";
    int count = 0;
}
<div class="col-md-12 col-xs-12" style="margin-bottom:10px;">
    <h4 class="text-center">Gov't Job Portal</h4>
</div>

<div class="row">
    <input id="autoComplete" name="autocomplete" placeholder="Start typing" type="text" autocomplete="off">
    <span class="k-icon k-i-search" style="margin-top:-40px;margin-right:10px;float:right;">&nbsp;</span>
</div>
<div id="DivForGovtJob">
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-condensed table-hover">
            <tr>
                <td width="5%">#SL</td>
                <td width="25%">Department</td>
                <td width="30%">Title</td>
                <td width="20%">Create Date</td>
                <td width="20%"></td>
            </tr>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td width="5%">@count</td>
                    <td width="25%">@item.DepartmentName</td>
                    <td width="30%">@item.JobTitle</td>
                    <td width="20%">@Convert.ToDateTime(item.CreatedDate).ToString("MMM dd,yyyy hh:mm tt")</td>
                    <td width="20%" class="text-right">
                         <span class="btn btn-default" data-toggle="tooltip" title="Details"><a href="/UserDataViewList/JobDetailsView?JobId=@item.JobId"><i class="fa fa-info-circle"></i></a></span>
                    </td>
                </tr>

            }

        </table>
        <div class="row text-center">
            @Html.Partial("_PagingPartial", Model)
        </div>
    }
    else
    {
        <h4>
            No record to display
        </h4>
    }

</div>
<div class="row col-sm-12">
    @Html.ActionLink("Back", "UserView", "DashBoard")
</div>
<script>
    $('[data-toggle="tooltip"]').tooltip();

    console.log("Job search")
    $("#autoComplete").autocomplete({
        minLength: 1,
        source: function (request, response) {
           var content = $.trim(request.term);
            $.ajax({
                url: '@Url.Action("SearchJob", "UserDataViewList")',
                type: "POST",
                dataType: "json",
                data: { searText: content },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label:item.JobTitle, value:item.JobTitle, id:item.JobId };
                    }))
                }
            });
        },
        minLength: 1,
        select: function (event, ui) {
            isloadFirstTime = true;
            var selectTextId = ui.item.id;
            location.href = "/UserDataViewList/JobList?JobId="+ selectTextId;
        },
    })
 .keyup(function () {
     if ($.trim($("#autoComplete").val()) == "") {
         location.href = "/UserDataViewList/JobList";
     }
 })
 .autocomplete("instance")._renderItem = function (ul, item) {
     var term = $.trim(this.term);
     var re = new RegExp("(" + term + ")", "gi"),
                cls = "bold-text",
                template = "<span class='" + cls + "'>$1</span>",
                label = item.label.toString().replace(re, template),
                $li = $("<li/>").appendTo(ul);
     $("<span>").html(label).appendTo($li);
     return $li;
        };


</script>

