@model IEnumerable<SafetyAndSecurityForNSI.Models.CriminalRecordEntry>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentsNid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassportNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrimeType)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentsNid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassportNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrimeType)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CrimeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CrimeId }) |
        </td>
    </tr>
}

</table>
