@model SafetyAndSecurityForNSI.Models.CarLoanModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CarLoanModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CitizenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CitizenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresenrAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresenrAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelativeContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelativeContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSINumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSINumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanAmmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanAmmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearlyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearlyIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyMembers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyMembers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankStatement)
        </dt>

        <dd>
            <img class="user-photo img-view-css" src="~/Image/Car/BankStateImg/@Model.PersonImage" width="50" height="50" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonImage)
        </dt>

        <dd>
            <img class="user-photo img-view-css" src="~/Image/Car/PersonImg/@Model.PersonImage" width="50" height="50" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarLoanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
