@model IEnumerable<SafetyAndSecurityForNSI.Models.ForeignCitizenModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
  
    <a href="/ForeignCitizen/Create" class="btn green"><i class="fa fa-plus"></i>Add New Citizen</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CitizenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassportNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassportImagCopy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresenrAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelativeContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoliceClearImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrivingLicenceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DLicenceCopy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoliceEntryNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonImage)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LivingTown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CitizenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassportNo)
        </td>
        <td>
            <img class="user-photo img-css" src="~/Image/ForeignCitizen/PersonImg/@item.PersonImage" width="50" height="50" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresenrAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelativeContact)
        </td>
        <td>
            <img class="user-photo img-css" src="~/Image/ForeignCitizen/PoliceClearance/@item.PoliceClearImg" width="50" height="50" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrivingLicenceNo)
        </td>
        <td>
            <img class="user-photo img-css" src="~/Image/ForeignCitizen/FDrivingLicence/@item.DLicenceCopy" width="50" height="50" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliceEntryNo)
        </td>
        <td>
            <img class="user-photo img-css" src="~/Image/ForeignCitizen/FPassport/@item.PassportImagCopy" width="50" height="50" />
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LivingTown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaritalStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ForignCitizenId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ForignCitizenId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ForignCitizenId })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back", "UserView", "DashBoard")
</div>