@model SafetyAndSecurityForNSI.Models.TaxEntryModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.HiddenFor(m=>m.TaxId)
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">
    <h4>Person Image</h4>
    <div class="col-md-12">
        <div class="col-md-4" style="margin-left:40%;margin-right:30%;">
            <div class="form-group">
                <div class="col-md-4 col-sm-5 col-xs-8 divForPic" id="divForPic-0">
                    <span id="UserImgClose-0" style="display:none;">
                        <img src="~/Image/Blank/close_pic.png" class="previewImgClose" id="UserImgClose-0" data-count="0" />
                    </span>
                    <div id="imgPreview-0" class="imgPreview">
                        @if (Model.PersonImage != null)
                        {
                            <img src="~/Image/Tax/@Model.PersonImage" />
                        }                       
                    </div>
                    <div id="imgUpload-0" class="image-uploader">
                        <input type="file" name="files" id="file-0" class="inputfile inputfile-4" data-count="0" style="display:none;" />
                        <label for="file-0" id="lbl-0" class="lblForPics">
                            <span style="font-size: 26px;padding-top:1em;display:block;" class="lbl_Span_plus">+</span>
                            <span style="font-size: 15px;font-weight:bold;">Add Person Photos</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 form-horizontal form-widget">
            <div class="form-group">
                @Html.LabelFor(model => model.SocialSecurityNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.SocialSecurityNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SocialSecurityNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NID, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.NID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ITIN, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ITIN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ITIN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EIN, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.EIN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EIN, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="col-md-6 form-horizontal form-widget">
            <div class="form-group">
                @Html.LabelFor(model => model.PassportNo, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PassportNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PassportNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TaxYear, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TaxYear, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TaxYear, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("Gender", new SelectList(ViewBag.GenderCategory, "Sex", "Sex"), ".....Select Gender.....", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group" style="margin-top:50px;">
    <div class="col-md-offset-4 col-md-8">
        <button class="blue" id="taxEntryUpdate"><i class="fa fa-save"></i>Update</button>
        <button class="yellow" id="taxEntryRefresh"><i class="fa fa-refresh"></i>Refresh</button>
        <button class="red" id="taxEntryCancel"><i class="fa fa-close"></i>Cancel</button>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    console.log("SSI Create view");
    var allMainFile = [];
    var allFileCount = [];
    var id;
    var PictureName;
    $(document).ready(function () {
       if ('@Model.PersonImage' != null || '@Model.PersonImage' != '') {
        $("#imgPreview-0").show();
        $("#UserImgClose-0").show();
        $("#imgUpload-0").hide();
        }
    });
    $('#taxEntryRefresh').click(function () {
        location.reload();
    });
    $('#taxEntryCancel').click(function () {
        location.href = '@Url.Action("Index", "TaxEntry")';
    });
    @************************Image Code*****************@
    $(".divForPic").on('change', '.inputfile-4', function (e) {
        id = $(this).data("count");
        var countFiles = $("#file-" + id)[0].files.length;
        var imgPath = $("#file-" + id)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $("#imgPreview-" + id);
        var files = e.target.files;
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof (FileReader) != "undefined") {
                allFileCount.push(id);
                allMainFile[id] = files[0];
                //for (var i = 0; i < countFiles; i++) {

                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", { "src": e.target.result }).appendTo(image_holder);
                }
                $("#imgUpload-" + id).hide();
                $("#UserImgClose-" + id).show();
                image_holder.show();
                $("#file-" + id).hide();
                $("#lblfile-" + id).hide();
                $("#PictureName").val($("#file-" + id)[0].files[0]);
                reader.readAsDataURL($("#file-" + id)[0].files[0]);
                $(".lbl_Span_plus").text("+");
                //}
                id++;
            } else {
                alert("This browser does not support FileReader.");
            }
        } else {
            alert("Pls select only images");
        }
    });

    $(".divForPic").on('click', '.previewImgClose', function (e) {
        var id = $(this).data("count");
        allMainFile[id] = "";
        $("#imgPreview-" + id).empty();
        $("#imgPreview-" + id).hide();
        $("#UserImgClose-" + id).hide();
        $("#imgUpload-" + id).show();
    });

    @*****************************Save Local citizenData*********************@

    $("#taxEntryUpdate").click(function () {
        var sendData = new FormData();
            sendData.append("TaxId", $("#TaxId").val());
            sendData.append("NID", $("#NID").val());
            sendData.append("ITIN", $("#ITIN").val());
            sendData.append("EIN", $("#EIN").val());
            sendData.append("PassportNo", $("#PassportNo").val());
            sendData.append("TaxYear", $("#TaxYear").val());
            sendData.append("Gender", $("#Gender").val());
            sendData.append("SocialSecurityNumber",$("#SocialSecurityNumber").val());

             for (var i = 0; i < allMainFile.length; i++) {
                sendData.append("files[" + i + "]",allMainFile[i]);
            }
            $.ajax({
                url: '@Url.Action("TaxEntryUpdate", "TaxEntry")',
                type: 'Post',
                data: sendData,
                contentType: false,
                processData: false,
                success: function (data) {
                    //notification.hide(); notification.setOptions({ autoHideAfter: 5000 });
                    if (data === "Error") {
                        alert("Failed");
                       //notification.show("Adding new citizen was unsuccessful.", "upload-error");

                    } else {
                        //notification.show( "Local Citizen info has been successfully added.", "upload-success");
                        alert("Success");
                        location.href = '@Url.Action("Index", "TaxEntry")';
                    }
                },
                error: function (error) {
                    //notification.hide(); notification.setOptions({ autoHideAfter: 5000 });
                   // notification.show("Upload unsuccessful", "upload-warning");
                    alert("Upload Failed");
                }
            });
    });
</script>
<style>
    .image-uploader {
        width: 200px;
        height: 200px;
        display: block;
        text-align: center;
    }

    .imgPreview {
        background-color: #e8e4d0;
        position: relative;
        width: 200px;
        height: 200px;
        border: 1px solid #808080;
        display: none;
        overflow: hidden;
    }

        .imgPreview img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            display: block;
            max-width: 90%;
            height: auto;
        }

    .lblForPics {
        text-align: center;
        max-width: 90%;
        width: 200px;
        height: 200px;
        vertical-align: middle;
        border: 1px dashed blue;
    }

        .lblForPics span {
            color: #083bb5 !important;
        }

    .previewImgClose {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        float: left;
        bottom: -1em;
        z-index: 9999;
        margin-top: -1.7em;
    }
</style>
